
<h1><%= @question.subject %> </h1>

  <%= erb :'votes/show', locals: { model: @question, question_id: @question.id } %>

  <% @question.tags.each do | tag | %>
    <p>Tags: <%= tag.name %></p>
  <% end %>

<p><%= @question.body %> </p>



<p>Author: @<%= @question.user.username %> </p>

<%= erb :'comments/show', locals: { comments: @question.comments } %>


<%= erb :'comments/new' , locals: { model: @question} %>
<%= erb :'answers/show' %>

