<% if @errors %>
  <ul>
  <% @errors.each do |message| %>
    <li><%= message %></li>
  <% end %>
  </ul>
<% end %>

<h1><%= @question.subject %> </h1>

  <%= erb :'votes/show', locals: { model: @question, question_id: @question.id } %>

  <% @question.tags.each do | tag | %>
    <p>Tags: <%= tag.name %></p>
  <% end %>

<p><%= @question.body %> </p>



<p>Author: @<%= @question.user.username %> </p>

<%= erb :'comments/show', locals: { comments: @question.comments } %>


<%= erb :'comments/new' , locals: { model: @question, question_id: @question.id } %>
<%= erb :'answers/show' %>
<%= erb :'answers/new', locals: { question_id: @question.id } %>
