<div class="outside"></div>
<% if @errors %>
  <div class="pan_gif">
    <img src="/pan_finger_wag.gif">
  <p>Pan says:</p>
  <ul class="error-list pad-b-2">
    <% @errors.each do |error| %>
      <li class="error-item"><%= error %></li>
    <% end %>
  </ul>
  </div>
<% end %>
<div class="main_box" id="q_page_box">

<div class="subject"><%= @question.subject %> </div>

  <%= erb :'votes/show', locals: { model: @question, question_id: @question.id } %>
  <div class="tag">
  <% @question.tags.each do | tag | %>
    <p>Tags:
      <a href="/questions/tag/<%= tag.id %>"><%= tag.name %></a>
    </p>
  <% end %></div>

<div class="question_text"><%= @question.body %> </div>



<div class="author">Author: @<%= @question.user.username %> </div>
</div>

<%= erb :'comments/show', locals: { comments: @question.comments } %>


<%= erb :'comments/new' , locals: { model: @question, question_id: @question.id } %>
<%= erb :'answers/show' %>

<%= erb :'answers/new', locals: { question_id: @question.id } %>

