<!-- display question subject -->
<h1><%= @question.subject %> </h1>

<!-- display question votes -->
<%= erb :'votes/show', locals: { model: @question } %>

<!-- display question tags -->
  <% @question.tags.each do | tag | %>
    <p>Tags: <%= tag.name %></p>
  <% end %>

<!-- display question content -->
<p><%= @question.body %> </p>

<!-- display question author -->
<p>Author: <%= @question.user.username %> </p>

<!-- display question comments -->
<%= erb :'comments/show', locals: { comments: @question.comments } %>
<!-- missing: [display] comment author -->
<!-- missing: [user ability][fourm] add comment to question -->

<%= erb :'answers/show' %>

