<% if @errors %>
  <div class="pan_gif">
    <img src="/pan_finger_wag.gif">
  <p>Pan says:</p>
  <ul class="error-list pad-b-2">
    <% @errors.each do |error| %>
      <li class="error-item"><%= error %></li>
    <% end %>
  </ul>
  </div>
<% end %>

<% @questions.each do | question | %>
<div class="main_box">
<div class="table"><a href="/questions/<%=question.id%>"</a><table>
    <tr>
        <%=question.points%> Votes<br>
    </tr>
    <tr>
        <%=question.answers.count%> Answers<br>
    </tr>
    <tr>
        <%=question.comments.count%> Comments<br>
    </tr>
</table></div>
<div class="subject">
    Question: <%=question.subject%>
<br></div>
<div class="author">
    Author: <%=question.user.username%>
</div>
<div class="tag">
    Tags: <%question.tags.each do |tag|%>
    <%=tag.name%>
    <%end%>
</div>

</div>
<br><br><br>
<% end %>











