<!-- [user ability][fourm]cast up\downvote -->
<div class="votebox">
<table>
    <tr>
      <th>
        <form class="upvote_form" action="/votes" method="POST">
          <input type="hidden" name="votes[value]" value="1">
          <input type="hidden" name="votes[voteable_id]" value="<%= model.id %>">
          <input type="hidden" name="votes[voteable_type]" value="<%= model.class %>">
          <% if logged_in? %>
            <input type="hidden" name="votes[user_id]" value="<%= current_user.id %>">
          <% end %>
          <input type="hidden" name="question_id" value="<%= question_id %>">
        <input type="image" name="submit" src="/uparrow.png">
        </form>
      </th>
    </tr>
    <tr>
      <th><%= model.points %></th>
    </tr>
    <tr>
      <th>
        <form action="/votes" method="POST">
          <input type="hidden" name="votes[value]" value="-1">
          <input type="hidden" name="votes[voteable_id]" value="<%= model.id %>">
          <input type="hidden" name="votes[voteable_type]" value="<%= model.class %>">
          <% if logged_in? %>
            <input type="hidden" name="votes[user_id]" value="<%= current_user.id %>">
          <% end %>
          <input type="hidden" name="question_id" value="<%= question_id %>">
        <input type="image" name="submit" src="/downarrow.png">
        </form>
      </th>
    </tr>
</table>
</div>
