<!-- [user ability][fourm]cast up\downvote -->
<table>
    <tr>
      <th>
        <form action="/votes" method="POST">
          <input type="hidden" name="votes[value]" value="1">
          <input type="hidden" name="votes[votable_id]" value="<%= model.id %>"
          <input type="hidden" name="votes[votable_type]" value="<%= model.class %>"
          <% if logged_in? %>
            <input type="hidden" name="votes[user_id]" value="<%= current_user.id %>"
          <% end %>
          <input type="hidden" name="question_id" value="<%= question_id %>">
        <input type="submit" value="  Upvote  ">
        </form>
      </th>
    </tr>
    <tr>
      <th>Votes: <%= model.points %></th>
    </tr>
    <tr>
      <th>
        <form action="/votes" method="POST">
          <input type="hidden" name="votes[value]" value="-1">
          <input type="hidden" name="votes[votable_id]" value="<%= model.id %>"
          <input type="hidden" name="votes[votable_type]" value="<%= model.class %>"
          <% if logged_in? %>
            <input type="hidden" name="votes[user_id]" value="<%= current_user.id %>"
          <% end %>
          <input type="hidden" name="question_id" value="<%= question_id %>">
        <input type="submit" value="Downvote">
        </form>
      </th>
    </tr>
</table>
